@use "@/styles/variables" as vars;

.sheInput {
  input {
    transition: all 160ms ease-in-out;

    &:focus-visible {
      box-shadow: 0 0 0 1px lightgray inset;
    }

    &::placeholder {
      color: vars.$placeholderColor;
    }
  }
}

// ======================================================== INVALID

.sheInput.invalid {
  > input {
    border: 1px solid vars.$colorRed;
  }
}
