@use "@/styles/variables" as vars;

.sheInput {
  input {
    transition: all 160ms ease-in-out;
    min-height: vars.$minHeight + px;

    &:focus-visible {
      box-shadow: 0 0 0 1px lightgray inset;
    }

    &::placeholder {
      color: vars.$placeholderColor;
    }
  }
}

// ======================================================== ICON

.sheInput.sheInputWithIconOut {
  .sheContextLengthLimits,
  .sheInputDescriptionBlock,
  .sheInputErrorBlock {
    padding-left: 23px;
  }
}

// ======================================================== INVALID

.sheInput.invalid {
  > input {
    border: 1px solid vars.$colorRed;
  }
}
