@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheInput {
  max-width: vars.$maxWidth;
  width: 100%;

  .sheInputComponent {
    position: relative;

    .sheInputControl {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      .iconBlock {
        position: absolute;
        color: vars.$subtextColor;
        left: 8px;
        top: 10px;
        max-width: $iconSize;
        min-width: $iconSize;
        max-height: $iconSize;
        min-height: $iconSize;
      }

      input {
        &:focus-visible {
          box-shadow: 0 0 0 1px lightgray inset;
        }

        &::placeholder {
          color: vars.$placeholderColor;
        }
      }
    }
  }
}

// ======================================================== FULL WIDTH

.sheInput.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheInput.required {
  position: relative;

  .sheInputComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== WITH ICON

.sheInput.withIcon {
  .sheInputComponent {
    .sheInputControl {
      input {
        padding-left: 36px;
      }
    }
  }
}

// ======================================================== INVALID

.sheInput.invalid {
  .sheInputComponent {
    .sheInputControl {
      > input {
        border: 1px solid vars.$colorRed;
      }
    }
  }
}
