@use "@/styles/variables" as vars;

.shipmentDetailsCard {
  min-width: 660px !important;
  max-width: 660px !important;

  .shipmentDetailsCardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .shipmentAllocationBlock {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .shipmentAllocationButtonBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
