@use "@/styles/variables" as vars;


.productCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;

  .productPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    min-width: 80px;
    height: 100%;
    object-fit: cover;

    img {
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }

    .productPhotoIcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .productInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

    .productNameBlock {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;

      .productBrand {
        display: flex;
        align-items: start;
        gap: 10px;

        .productBrandPhoto {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          object-fit: cover;
        }

        .productBrandName {
          max-width: 70px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .productName {
        max-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .productPrice {
      position: relative;

      .currencyName {
        position: absolute;
        right: 10px;
        top: 12px;
        z-index: 1;
      }
    }

    .productDetailsBlock {
      display: flex;
      align-items: center;
      gap: 20px;

      .productTraits {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;

        .colorOptions {
          min-width: 20px;
          min-height: 20px;
          border-radius: 50%;
          border: 2px solid #ccc;
        }
      }
    }

    .expirationDateBlock {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 15px;
    }
  }
}

.actionsCell {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
