.purchaseProducts {
  .purchaseProductsForm {
    form > div {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      padding-top: 0;

      .purchaseProductsFormItem {
        margin-bottom: 0;
        min-height: 100%;
      }

      .purchaseFormItemTaxCurrency {
        margin-bottom: 0;
        min-height: 100%;
        max-width: 70px;
      }

      .purchaseFormItemNettoPrice {
        margin-bottom: 0;
        min-height: 100%;
        max-width: 100px;
      }
    }

    .purchaseProductsFormIcon {
      min-width: 15px;
      max-width: 15px;
      margin-bottom: 0;
    }

    .variantGridButtonBlock {
      display: flex;
      gap: 10px;
    }
  }

  .formItemsValid {
    input, button {
      border: 1px solid #007AFF;
      border-radius: 6px;
    }
  }

  .buttonValid {
    background: #007AFF;
    color: #fff;
  }
}
