@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheMultiSelectPopoverContainer {
  .sheMultiSelectPopoverGroupContainer {
  }
}

// ========================================================= SEARCH BLOCK

.sheMultiSelectPopoverContainer {
  .sheMultiSelectPopoverSearchBlock {
  }
}

// ========================================================= NO DATA BLOCK

.sheMultiSelectPopoverContainer {
  .sheMultiSelectPopoverNoDataMessageBlock {
  }
}

// ========================================================= WITH ICON

.sheMultiSelectPopoverContainer.withIcon {
}

// ========================================================= FULL WIDTH

.sheMultiSelectPopoverContainer.fullWidth {
}

// ========================================================= MULTI SELECT ITEM WRAPPER

.sheMultiSelectItemParentWrapper {
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  &.sheMultiSelectItemParentWrapperSelectAll {
    span {
      color: vars.$placeholderColor;
    }
  }
}
