@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheToggle {
  max-width: vars.$maxWidth + px;
  width: 100%;

  .sheToggleComponent {
    position: relative;

    .sheToggleControl {
      transition: all 160ms ease-in-out;

      > div {
        display: flex;
        align-items: center;
        gap: 8px;

        .iconBlock {
          color: vars.$subtextColor;
          max-width: $iconSize;
          min-width: $iconSize;
          max-height: $iconSize;
          min-height: $iconSize;
        }

        .sheToggleContextBlock {
          display: flex;
          flex-direction: column;
          gap: 4px;

          span {
            &:nth-child(1) {
              line-height: 14px;
            }
            &:nth-child(2) {
              line-height: 12px;
            }
          }
        }
      }
    }
  }
}

// ======================================================== FULL WIDTH

.sheToggle.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheToggle.required {
  position: relative;

  .sheToggleComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== WITH ICON

.sheToggle.withIcon {
  .sheToggleComponent {
  }
}

// ======================================================== VIEW

.sheToggle.card {
  .sheToggleComponent {
    > label {
      left: 0;
    }

    &:before {
      left: -10px;
    }

    .sheToggleControl {
      border: 1px solid vars.$brdColor;
      padding: vars.$paddingSmall;
      border-radius: vars.$brdR_03;
    }
  }
}
