@use "@/styles/variables" as vars;

.createProductCategoryCard {
  display: flex;

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: vars.$paddingStandard;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}