@use "@/styles/variables" as vars;

.sheDatePicker {
  max-width: vars.$maxWidth + px;
  width: 100%;

  .sheDatePickerPopoverTriggerContainer {
    display: flex;
    justify-content: start;
  }

  .sheDatePickerPopoverTriggerButton {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-weight: 400;

    > div {
      display: flex;
      width: 100%;

      .sheDatePickerControlTextContainer {
        display: flex;
        flex-grow: 1;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .sheDatePickerPopOverContentContainer {
    width: auto;
    padding: 0;
  }
}

// ======================================================== CALENDAR

.sheDatePickerCalendar {
  padding: vars.$paddingSmall;
  display: flex;
  justify-content: center;
  margin: auto;
}

// ======================================================== HIGHLIGHT

.sheDatePicker.highlighted {
  button {
    border-color: vars.$colorBlue !important;
  }
}
