@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheMultiSelectTrigger {
  //max-width: vars.$maxWidth + px;
  //width: 100%;

  .sheMultiSelectTriggerComponent {
    position: relative;

    .sheMultiSelectTriggerControl {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      transition: all 160ms ease-in-out;

      .sheMultiSelectTriggerElement {
        background-color: vars.$colorLight;
        display: flex;
        border: vars.$brd;
      }

      /*.iconBlock {
        color: vars.$subtextColor;
        max-width: $iconSize;
        min-width: $iconSize;
        max-height: $iconSize;
        min-height: $iconSize;
      }*/
    }
  }
}

// ======================================================== FULL WIDTH

.sheMultiSelectTrigger.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheMultiSelectTrigger.required {
  .sheMultiSelectTriggerComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== WITH ICON

.sheMultiSelectTrigger.withIcon {
  .sheMultiSelectTriggerComponent {
    .sheMultiSelectTriggerControl {
      .sheMultiSelectTriggerSkeleton {
      }
    }
  }
}
