@use "@/styles/variables" as vars;

$ImageSize: 32px;

.sheSidebarHeader {
  background: linear-gradient(270deg, #1b3529 0%, #244637 100%);

  img {
    width: 100%;
  }

  .selectedHeaderItem {
    background: linear-gradient(270deg, #1b3529 0%, #244637 100%);
    box-shadow: none;
    height: 40px;

    &:hover {
      background: #385a4a;
    }

    .skeletonBlock {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;

      .skeletonRound {
        width: 45px;
        height: 35px;
        border-radius: 50%;
        background: #385a4a;
      }

      .skeletonBars {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        .skeletonLongBar {
          width: 100%;
          height: 16px;
          background: #385a4a;
        }

        .skeletonShortBar {
          width: 70%;
          height: 12px;
          background: #385a4a;
        }
      }
    }

    .headerImage {
      min-width: $ImageSize;
      max-width: $ImageSize;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: vars.$brdR_03;
    }

    .noImage {
      min-width: 32px;
      min-height: 32px;
      background: #71717a;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: vars.$brdR_03;

      span {
        color: #b7d5c7;
      }
    }

    .headerTitle {
      font-size: 16px;
    }

    .headerInfo {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      color: white;

      .headerInfoText {
        max-width: 100%;
        color: #b7d5c7;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
      }
    }

    .headerChevron {
      color: #b7d5c7 !important;
    }

    &.isCollapsed {
      padding: 0 !important;

      .headerInfo {
        display: none;
      }

      .skeletonRound {
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }

      .skeletonBars {
        display: none;
      }
    }
  }
}

.headerItem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  cursor: pointer;

  .headerImage {
    min-width: $ImageSize;
    max-width: $ImageSize;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: vars.$brdR_03;
    box-shadow: 0 2px 4px -1px vars.$brdColor;

    .headerImageCustom {
      min-height: $ImageSize;
    }
  }

  &.headerItemSelected {
    background: #f5f5f5 !important;
    box-shadow: 0 0 0 0 !important;
  }

  .noImage {
    min-width: 32px;
    min-height: 32px;
    background: #71717a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: vars.$brdR_03;

    span {
      color: #b7d5c7;
    }
  }

  .headerTitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
}

// =================================================== ADAPTATION

/*@media only screen and (max-width: 768px) {
  .sheSidebarHeader {
    .selectedHeaderItem {

      .headerInfo {
        display: none;
      }
    }
  }
}*/
