.sheMultiSelectFooter {
  .sheMultiSelectFooterGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 38px;

    .sheMultiSelectFooterItem {
      flex: 1 1 0;
      justify-content: center;
      cursor: pointer;
    }

    .sheMultiSelectFooterItemsSeparator {
      display: flex;
      min-height: 24px;
      height: 100%;
    }
  }
}
