@use "@/styles/variables" as vars;

.dndGrid {
  display: flex;
  flex-direction: column;

  .dndGridContainer {
    position: relative;
    border: vars.$brd;
    border-radius: vars.$brdR_03;

    > div {
      border-radius: vars.$brdR_03;

      > table {
        border-radius: vars.$brdR_03;

        tr {
          display: flex;
          justify-content: space-between;

          th,
          td {
            display: flex;
            align-items: center;
            padding: 2px 8px;
            flex-grow: 1;
            width: 100% !important;
            height: auto;
            overflow: hidden;

            > * {
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        thead {
          tr {
            align-items: stretch;

            th {
              min-height: 38px;
            }
          }
        }

        tbody {
          tr {
            align-items: center;

            td {
              min-height: 46px;
            }
          }
        }
      }
    }
  }
}

// ------------------------------------------------------- TABLE HEADER
.dndGrid .dndGridContainer .dndGridTableHeader {
  &:hover {
    background: transparent;
  }
}

// ------------------------------------------------------- LOADER

.dndGrid .dndGridContainer .dndGridLoader {
  top: 35px;
}

// ------------------------------------------------------- HIDE COLUMNS HEADER

.dndGrid .dndGridContainer .hiddenHeader {
  display: none;
}

/*.table {
  .hiddenHeader {
    height: 0;
    padding: 0;
    overflow: hidden;
    border: none;

    th {
      padding: 0 !important;
      border: none !important;
      height: 0 !important;
    }

    .tableRow {
      transition: background-color 0.3s ease;
      cursor: default;

      .tableCell {
      }

      .dndIconCell {
        padding-right: 0;
        text-align: start;
        touch-action: none;
        cursor: grab;
        border: 1px solid red;

        .dndIcon {
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .tableRow {
    transition: background-color 0.3s ease;
    cursor: default;
    background: white !important;

    .tableCell {
    }

    .dndIconCell {
      padding-right: 0;
      text-align: center;
      touch-action: none;
      cursor: grab;

      .dndIcon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          opacity: 0.5;
        }
      }
    }
  }
}

//-------------------------------------------------------isDragged

.tableRowDragged {
  background: #f4f4f5;

  .dndIconCellDragged {
    cursor: grab;
    background: #f4f4f5;
  }

  .tableCellDragged {
    background: #f4f4f5;

    .dndIconDragged {
      svg {
        opacity: 0.7;
      }
    }
  }
}

//-------------------------------------------------------isLoading

.tableLoading th {
  width: var(--column-width) !important;
  min-width: var(--column-min-width) !important;
  max-width: var(--column-max-width) !important;
  flex: none !important;
}

.tableLoading {
  table-layout: fixed !important;
}

.tableLoading {
  display: flex;
  flex-direction: column;
  transition: 1s;

  .tableRowLoading {
    display: flex;
    flex-direction: row;

    .tableHeadLoading {
      display: flex;
      align-items: center;
    }
  }

  .loaderContainer {
    width: 100%;
    height: 5px;
    background-color: #e4e4e7;
    position: absolute;
    overflow: hidden;
    top: 45px;
    left: 0;

    .loadingBar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .shimmer {
      height: 100%;
      position: absolute;
      width: 50%;
      opacity: 0.5;
      animation: shimmer 2.2s infinite;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      background: linear-gradient(
        90deg,
        rgba(30, 59, 46, 0) 0%,
        rgba(30, 59, 46, 0.7) 10%,
        rgba(30, 59, 46, 1) 20%,
        rgba(30, 59, 46, 1) 80%,
        rgba(30, 59, 46, 0.7) 90%,
        rgba(30, 59, 46, 0) 100%
      );
    }

    @keyframes shimmer {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(200%);
      }
    }
  }

  .tableSkeleton {
    .skeletonRound {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    .skeletonBarsContainer {
      width: 100%;

      .skeletonLongBar {
        width: 100%;
        height: 16px;
      }

      .skeletonShortBar {
        width: 70%;
        height: 16px;
      }
    }
  }
}

//-------------------------------------------------------isSelected

.isSelected {
  //background: #F8F3FF;
  background: #f4f4f5;
}

//-------------------------------------------------------expandableRows

.expandedContent {
  padding: 0 !important;

  & > div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
}*/
