@use "@/styles/variables" as vars;

.dndGrid {

}

.tableRow {
  transition: background-color 0.3s ease;
  cursor: default;

  .tableCell {
  }

  .dndIconCell {
    padding-right: 0;
    text-align: center;
    touch-action: none;

    .dndIcon {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        opacity: 0.5;
      }
    }
  }
}


.tableCellDragged {
  background: #F8F3FF;

  .dndIconDragged {
    svg {
      opacity: 0.7;
    }
  }
}
