@use "@/styles/variables" as vars;

.sheBadge {
  width: fit-content;

  .sheBadgeComponent {
    width: 100%;

    .sheBadgeControl {
      .sheBadgeSkeleton {
        .sheBadgeElement {
          flex-grow: 1;
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 2px 10px;
          min-height: 24px;

          span {
            flex-grow: 1;
            color: vars.$colorLight;
            line-height: 12px;
            pointer-events: none;
            word-break: break-all;
          }
        }
      }
    }
  }
}

// ======================================================== CLOSE BTN

.sheBadge {
  .sheBadgeCloseBtn {
    position: relative;
    left: +3px;

    .sheBadgeCloseBtnIcon {
      circle {
        display: none;
      }

      &:hover {
        circle {
          display: block;
        }
      }
    }
  }
}

// ======================================================== IS CLICKABLE

.sheBadge.isClickable {
  .sheBadgeElement {
    cursor: pointer !important;
  }
}

// ======================================================== FULL WIDTH

.sheBadge.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== WITH ICON

.sheBadge.withIcon {
  .sheBadgeComponent {
    .sheBadgeControl {
      .sheBadgeSkeleton {
        .sheBadgeIcon {
          $iconSize: 18px;
          max-width: $iconSize;
          min-width: $iconSize;
          max-height: $iconSize;
          min-height: $iconSize;
        }
      }
    }
  }
}
