@use "@/styles/variables" as vars;

.supplierConfigurationCard {
  .supplierConfigurationCardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .deleteSupplierBlock {
      display: flex;
      align-items: center;
      border: 1px solid #E4E4E7;
      border-radius: 5px;
      background: #FAFAFA;
      padding: 10px;

      .deleteSupplierTextBlock {
        display: flex;
        flex-direction: column;

        .deleteSupplierTitle {
          font-weight: 600;
        }
      }

      .deleteSupplierButton {
        color: #EF4343;

        svg {
          color: #EF4343
        }
      }
    }

    .restoreSupplierBlock {
      display: flex;
      align-items: center;
      border: 1px solid #E4E4E7;
      border-radius: 5px;
      background: #FAFAFA;
      padding: 10px;

      .restoreSupplierTextBlock {
        display: flex;
        flex-direction: column;

        .restoreSupplierTitle {
          font-weight: 600;
        }
      }

      .restoreSupplierButton {
        color: #38BF5E;

        svg {
          color: #38BF5E
        }
      }
    }
  }
}