@use "@/styles/variables" as vars;

.supplierConfigurationCard {
  .supplierConfigurationCardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .supplierConfigurationCardForm {
      overflow: auto;

      &::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background: white;
      }
    }
  }
}