.shipmentConfigurationCard {
  min-width: 650px !important;
  max-width: 650px !important;

  .shipmentConfigurationCardContent {
    .shipmentConfiguration {
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background: white;
      }

      .shipmentDetailsItem {
        display: flex;
        align-items: center;
        gap: 20px;

        & > span {
          width: 50%;
          padding-left: 10px;
          font-size: 14px;
          color: #474d54;
        }

        .subtitleText {
          font-size: 16px;
          font-weight: 500;
        }

        .customerInfoAvatarBlock {
          display: flex;
          align-items: center;
          gap: 20px;

          .avatarImage {
            $avatarSize: 45px;
            min-width: $avatarSize;
            max-width: $avatarSize;
            min-height: $avatarSize;
            max-height: $avatarSize;
            border-radius: 100%;
            border: 0.5px solid lightgray;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              min-width: 66px;
            }
          }

          .avatarInitials {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            background-color: #ececec;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #555;
            font-weight: 600;
            font-size: 16px;
            user-select: none;
          }

          .customerInfoBlock {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .selectCustomerBlock {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          width: 50%;
        }
      }

      .shipmentProductsBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .shipmentProductsButton {
        display: flex;
        justify-content: flex-end;
      }

      .shipmentContentBlock {
        .packageContentBlock {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px 0;
        }
      }

      .deliveryServiceBlock {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .deliveryServiceButtons {
          display: flex;
          justify-content: space-between;
        }
      }

      .subtitleText {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
