@use "@/styles/variables" as vars;

.sheSidebar,
:global([data-sidebar="sidebar"][data-mobile="true"]) {
  .sidebarContent {
    background: linear-gradient(270deg, #1b3529 0%, #244637 100%);

    a {
      color: #b7d5c7;

      &:hover {
        background: #385a4a;
        color: white;

        svg {
          color: #39e97b;
        }
      }
    }

    .sidebarItemActive {
      background: #385a4a;
      color: white;

      svg {
        color: #39e97b;
      }
    }

    .groupTitle {
      text-transform: uppercase;
    }

    .navItemTitle {
      text-transform: capitalize;
    }
  }
}
