@use "@/styles/variables" as vars;

//----------------------------------------------------------------HEADER

#ProductsPage {
  .productsPageHeader {
    display: flex;
    justify-content: space-between;

    .headerButtonBlock {
      display: flex;
      gap: 10px;
    }
  }
}

//-------------------------------------------------------------------TABS

#ProductsPage {
  .productsPageContent {
    .tabItemsWrapper {
      margin: 0 -20px;
      border-bottom: 1px solid vars.$colorMedium;

      .tabItems {
        background-color: transparent;
        padding-bottom: 0;
        margin-bottom: -3px;

        .tabItemTrigger {
          box-shadow: none;
          border-radius: 0;

          &[data-state="active"] {
            border-bottom: 1px solid #38bf5e;
          }

          .tabBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
          }
        }
      }
    }
  }
}