@use "@/styles/variables" as vars;

//----------------------------------------------------------------HEADER

.ProductsPage {
  .pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vars.$paddingSmall vars.$paddingSmall 0;
    gap: vars.$paddingStandard;
  }
}

//-------------------------------------------------------------------TABS

.ProductsPage {
  .productsPageContent {
    .tabItemsWrapper {
      border-bottom: 1px solid vars.$colorMedium;

      .tabItems {
        background-color: transparent;
        padding-bottom: 0;
        margin-bottom: -3px;
        position: relative;
        left: -6px;

        .tabItemTrigger {
          box-shadow: none;
          border-radius: 0;

          &[data-state="active"] {
            border-bottom: 1px solid #38bf5e;
          }

          .tabBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
          }
        }
      }
    }
  }
}

// ------------------------------------------------------------------- CONTEXT

.ProductsPage {
  .productsPageTabContext {
    padding: 0 vars.$paddingSmall vars.$paddingSmall;
    overflow-x: auto;
    display: none;
    flex-direction: column;
    min-height: calc(100vh - 178px);

    &[data-state="active"] {
      display: flex;
    }

    &[data-state="inactive"] {
      display: none;
    }
  }
}
