@use "@/styles/variables" as vars;

.selectSupplierCad {
  .selectSupplierCardContent {
    display: flex;
    flex-direction: column;
    gap: vars.$paddingStandard;

    .createSupplierBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: vars.$paddingStandard;

      .createSupplierBlockText {
        text-wrap: auto;
      }
    }

    .supplierListBlock {
      display: flex;
      flex-direction: column;
      gap: vars.$paddingStandard;
    }
  }
}
