@use "@/styles/variables" as vars;

.itemsCard {
  background-color: transparent;
  padding: 0;
  border: none !important;
  border-radius: 0 !important;

  &.itemsCardWithAnimation {
    transition: all 160ms ease-in-out;
  }

  .itemsCardHeader {
    margin-bottom: 6px;
    padding: 0 9px;

    > div:nth-child(1) {
      > div {
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;

        > button {
          $btnSize: 20px;
          position: relative !important;
          top: 0 !important;
          left: 0 !important;
          width: $btnSize !important;
          min-width: $btnSize;
          max-width: $btnSize;
          padding: 0;

          &:hover {
            svg {
              stroke: vars.$iconColor !important;
            }
          }
        }

        > div {
          position: relative;
          top: -1px;
          padding: 0 !important;
          text-transform: capitalize;
          max-width: 100% !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

// ======================================================== CARD CONTEXT

.itemsCard {
  .itemsCardList {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .itemsCardListItemWrapper {
      .itemsCardListItem {
        display: flex;
        align-items: center;
        gap: vars.$paddingSmall;
        cursor: pointer;
        border-radius: 5px;
        height: 100%;
        padding: vars.$paddingSmall;

        &:hover {
          background: vars.$colorMuted;

          .listItemIcon {
            color: vars.$iconColor;
          }

          .listItemText {
            font-weight: 500;
          }
        }

        &.selected {
          background: vars.$colorMuted;
        }

        .listItemIcon {
          min-height: 0;
          color: vars.$iconPlaceholderColor;
        }

        .listItemText {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          opacity: 1;
          transition: all 160ms ease-in-out;
        }
      }
    }
  }
}

// ======================================================== MINIMIZED

.itemsCard:global(.sheCardMinimized) {
  min-width: 47px !important;
  max-width: 47px !important;

  .listItemText {
    opacity: 0 !important;
  }
}

// ======================================================== SKELETON

.itemsCard {
  .itemsCardSkeletonListContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .skeletonItem {
      display: flex;
      gap: 10px;
      padding: 10px;
      min-height: 40px;

      .skeletonItemImage {
        $skeletonIconSize: 20px;
        min-width: $skeletonIconSize;
        max-width: $skeletonIconSize;
        min-height: $skeletonIconSize;
        max-height: $skeletonIconSize;
        border-radius: 100%;
        background-color: vars.$colorMedium;
      }

      .skeletonItemInfoBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        width: 100%;

        .skeletonItemInfoTitle {
          height: 8px;
          width: 40%;
          background-color: vars.$colorMedium;
        }

        .skeletonItemInfoDescription {
          height: 8px;
          width: 90%;
          background-color: vars.$colorMedium;
        }
      }
    }
  }
}
