@use "@/styles/variables" as vars;

$tooltipIconSize: 18px;
$tooltipContextIconSize: 20px;

.sheTooltip {
  border: none;
  position: relative;

  .tooltipMessageBlock {
    background: vars.$colorLight;
    padding: vars.$paddingSmall vars.$paddingSmall
      calc(#{vars.$paddingSmall} - 3px);

    .tooltipMessageBlockContext {
      display: flex;
      flex-grow: 1;
      max-width: 400px;
      gap: 6px;

      .tooltipIconContext {
        max-width: $tooltipContextIconSize;
        min-width: $tooltipContextIconSize;
        max-height: $tooltipContextIconSize;
        min-height: $tooltipContextIconSize;
      }

      .tooltipMessageContext {
        display: flex;
        flex-direction: column;
        max-height: 200px;
        overflow-y: auto;

        span {
          position: relative;
          top: -3px;
        }
      }
    }
  }
}

// ====================================== VIEW

.sheTooltip {
  .tooltipMessageBlock {
    &.dark {
      background-color: #18181b;
    }

    &.danger {
      background-color: #db2626;
    }

    &.warning {
      background-color: #facc15;
    }

    &.success {
      background-color: #22c55e;
    }

    &.primary {
      background: linear-gradient(270deg, #244434 0%, #315947 100%);
    }
  }
}

// ====================================== ICON

.sheTooltip .tooltipIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  box-sizing: border-box;
  max-width: $tooltipIconSize;
  min-width: $tooltipIconSize;
  max-height: $tooltipIconSize;
  min-height: $tooltipIconSize;
  border-radius: 100%;

  .tooltipIconTrigger {
    min-height: 0;

    svg {
      border-radius: 100%;
      overflow: hidden;
    }
  }
}
