@use "@/styles/variables" as vars;

$tooltipIconSize: 15px;

.sheTooltip {
  border: none;
  position: relative;

  .tooltipMessageBlock {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 200px;
    overflow-y: auto;
  }
}

// ====================================== VIEW

.sheTooltip {
  .tooltipMessageBlock {
    display: flex;
    flex-direction: column;

    &.dark {
      background-color: #18181b;

      span {
        color: #ffffff;
      }
    }

    &.danger {
      background-color: #db2626;

      span {
        color: #ffffff;
      }
    }

    &.warning {
      background-color: #facc15;
    }

    &.success {
      background-color: #22c55e;

      span {
        color: #ffffff;
      }
    }

    &.primary {
      background: linear-gradient(270deg, #244434 0%, #315947 100%);

      span {
        color: #ffffff;
      }
    }
  }
}

// ====================================== ICON

.sheTooltip .tooltipIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  box-sizing: border-box;
  max-width: $tooltipIconSize;
  min-width: $tooltipIconSize;
  max-height: $tooltipIconSize;
  min-height: $tooltipIconSize;
  background-color: vars.$colorDark;
  border-radius: 100%;

  span {
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 0;
    position: relative;
    top: -1px;
    left: 0.5px;
  }
}
