@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheOption {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
  width: 100%;
  min-height: 16px;
  cursor: pointer;
  background-color: vars.$colorLight;
  transition: all ease-in-out 130ms;
  border-radius: vars.$brdR_05;

  &:hover {
    background-color: vars.$colorMuted;
  }

  // --------------------------------- TOGGLE
  .sheOptionToggleContainer {
    max-width: 16px;
    min-width: 16px;
  }

  // --------------------------------- ICON
  .sheOptionIconContainer {
    max-width: $iconSize;
    min-width: $iconSize;

    .iconBlock {
      color: vars.$subtextColor;
      max-width: $iconSize;
      min-width: $iconSize;
      max-height: $iconSize;
      min-height: $iconSize;
    }

    .iconPlaceholder {
      color: rgba(192, 206, 232, 0.61);
    }
  }

  // --------------------------------- COLOR
  .sheOptionColorsContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
    min-width: 6px;
    max-width: 6px;

    > div {
      padding: 3px;
      border-radius: 100%;
    }
  }

  // --------------------------------- INFO
  .sheOptionInfoContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 8px;

    .sheOptionInfoBlock,
    .sheOptionExtraInfoBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      :global(.she-subtext) {
        font-size: 10px;
      }

      span {
        word-break: break-all;
        line-height: 12px;
      }

      .sheOptionDescription {
        padding-top: 2px;
      }
    }

    .sheOptionInfoBlock {
    }

    .sheOptionExtraInfoBlock {
      text-align: end;
      max-width: 30%;
      min-width: 20px;
    }
  }

  // --------------------------------- TOOLTIP
  .sheOptionTooltipContainer {
    min-width: 17px;
    max-width: 17px;
  }
}

// ======================================================== FULL WIDTH

.sheOption.fullWidth {
  max-width: none;
  width: 100%;
}

// =========================================================================== SELECTED

.sheOption {
  &.optionSelected {
    background-color: vars.$colorMuted;
  }
}

// =========================================================================== VIEW

.sheOption {
  &.normal {
    border: 0;
    padding: 0;
  }

  &.card {
    border: vars.$brd;
    padding: 8px 6px;
  }
}

// =========================================================================== MODE

.sheOption {
  &.plain {
  }

  &.single {
  }

  &.multiple {
  }
}
