@use "@/styles/variables" as vars;

.customerAddressFormCard {
  .customerCardContent {
    height: calc(100vh - 270px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  *:focus {
    box-shadow: none;
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
