.statusColor {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 10px;
}

.colorBlue {
  background: rgba(80, 162, 255, 0.15);
  border-color: #50A2FF;
}

.colorTeal {
  background: rgba(0, 213, 190, 0.15);
  border-color: #00D5BE;
}

.colorGreen {
  background: rgba(5, 223, 119, 0.15);
  border-color: #05DF77;
}

.colorOrange {
  background: rgba(255, 137, 4, 0.15);
  border-color: #FF8904;
}