@use "@/styles/variables" as vars;

.chooseVariantTraitsCard {
  .chooseVariantTraitsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;

    .textBlock {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }

    button {
      width: 100%;
    }
  }
}