.customerNameBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -8px;
  position: relative;

  .messengerIcon {
    position: absolute;
    top: 18px;
    left: 42px;
  }

  .customerAvatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;

    .customerAvatarImage {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .avatarInitials {
      width: 100%;
      height: 100%;
      background-color: #ececec;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #555;
      font-weight: 600;
      font-size: 18px;
      user-select: none;
    }

    .noImageIcon {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .customerInfoBlock {
    display: flex;
    flex-direction: column;

    .customerInfoBlockTooltip {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}