@use "@/styles/variables" as vars;

.sheCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  max-width: 400px;
  height: calc(100vh - 72px);
  overflow: hidden;

  .cardContextWrapper {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    flex-grow: 1;
    scrollbar-gutter: stable;
    padding-right: 2.5px;

    @-moz-document url-prefix() {
      padding-right: 8.5px;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
      background: white;
    }

    .cardContextContainer {
    }
  }
}

// ====================================================================== VIEW

.sheCard {
  &.standard {
    border: 0;
  }

  &.card {
    border-radius: 10px;
    border: 1px solid vars.$brdColor;
    background-color: white;

    .cardContextWrapper {
      padding-left: 10px;
      padding-right: 2.5px;
      margin: 10px 2.5px 10px 0;
    }

    &.withHeader {
      .cardContextWrapper {
        margin-top: 0;
      }
    }

    &.withFooter {
      .cardContextWrapper {
        margin-bottom: 0;
      }
    }
  }
}

// ====================================================================== LOADER

.sheCard {
  .cardContextWrapper {
    .sheCardLoading {
    }

    .cardContextContainer {
    }
  }

  .cardContextWrapper.cardContextIsLoading {
    pointer-events: none;
    opacity: 0.6;

    .sheCardLoading {
    }

    .cardContextContainer {
    }
  }
}
