@use "@/styles/variables" as vars;

.sheCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: calc(100vh - 92px);
  overflow: hidden;
  background-color: white;

  &.card {
    border-radius: 10px;
    border: 1px solid vars.$brdColor;
  }

  &.standard {
  }

  .cardContent {
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

// -------------------------------------------------------------------- LOADER

.sheCard {
  .loaderContainer {
    height: 5px;
    width: 100%;
    background: repeating-linear-gradient(
      to right,
      gray 0%,
      lightblue 50%,
      gray 100%
    );
    background-size: 200% auto;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}
