@use "@/styles/variables" as vars;

.cardCarouselItem {
  flex-basis: fit-content;
}

.sheCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  max-width: 400px;
  height: calc(100vh - 82px);
  overflow: hidden;
  transition: all 160ms ease-in-out;

  .cardContextWrapper {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    flex-grow: 1;
    scrollbar-gutter: stable;
    padding-top: 3px;
    padding-right: 3px;

    @-moz-document url-prefix() {
      padding-right: 8.5px;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
      background: white;
    }

    .cardContextContainer {
    }
  }
}

// ====================================================================== VIEW

.sheCard {
  &.standard {
    border: 0;
  }

  &.card {
    border-radius: 10px;
    border: 1px solid vars.$brdColor;
    background-color: white;

    .cardContextWrapper {
      padding: 6px 3px 3px 10px;
      margin: 10px 3px 6px 0;
    }

    &.withHeader {
      .cardContextWrapper {
        margin-top: 0;
      }
    }

    &.withFooter {
      .cardContextWrapper {
        margin-bottom: 0;
      }
    }
  }
}

// ====================================================================== LOADER

.sheCard {
  .cardContextWrapper {
    .sheCardLoading {
    }

    .cardContextContainer {
    }
  }

  .cardContextWrapper.cardContextIsLoading {
    pointer-events: none;
    opacity: 0.6;

    .sheCardLoading {
    }

    .cardContextContainer {
    }
  }
}

// ======================================================== MINIMIZED

.sheCard:global(.sheCardMinimized) {
  min-width: 47px !important;
  max-width: 47px !important;

  .cardContextWrapper {
    overflow: hidden !important;
  }
}

// ======================================================== IS MOBILE

.sheCard {
  &.sheCardMobile {
    height: calc(100vh - 128px);
    min-width: 400px;
    max-width: 400px;
  }
}
