@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheInputEditor {
  max-width: vars.$maxWidth + px;
  min-height: vars.$minHeight + px;
  width: 100%;

  .sheInputEditorControl {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .sheInputEditorTextContainer {
      display: flex;
      align-items: center;
      padding-left: 13px;
      min-height: vars.$minHeight + px;

      .iconBlock {
        margin-right: 5px;
      }

      .sheInputEditorTextBlock {
        width: 100%;
        flex-grow: 1;
      }
    }

    .sheInputEditorInputContainer {
      display: flex;
      align-items: center;
      gap: 4px;
      min-height: 40px;
    }

    .iconBlock {
      color: vars.$subtextColor;
      border-radius: vars.$brdR_03;
      max-width: $iconSize;
      min-width: $iconSize;
      max-height: $iconSize;
      min-height: $iconSize;
    }
  }
}

// ======================================================== WITH ICON

.sheInputEditor.withIcon {
  .sheInputEditorControl {
    .sheInputEditorTextContainer {
      padding-left: 8px;
    }
  }
}
