@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheInputEditor {
  max-width: vars.$maxWidth + px;
  width: 100%;

  .sheInputEditorComponent {
    position: relative;

    .sheInputEditorControl {
      display: flex;
      flex-direction: column;

      .sheInputEditorTextContainer {
        display: flex;
        align-items: center;
        gap: 4px;
        padding-left: 8px;
        min-height: 40px;

        .iconBlock {
          margin-right: 5px;
        }

        .sheInputEditorTextBlock {
          width: 100%;
          flex-grow: 1;
        }
      }

      .sheInputEditorInputContainer {
        display: flex;
        align-items: center;
        gap: 4px;
        min-height: 40px;
      }

      .iconBlock {
        color: vars.$subtextColor;
        max-width: $iconSize;
        min-width: $iconSize;
        max-height: $iconSize;
        min-height: $iconSize;
      }
    }
  }
}

// ======================================================== FULL WIDTH

.sheInputEditor.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheInputEditor.required {
  position: relative;

  .sheInputEditorComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== WITH ICON

.sheInputEditor.withIcon {
  .sheInputEditorComponent {
    .sheInputEditorControl {
    }
  }
}
