@use "@/styles/variables" as vars;

$buttonSize: 40px;
$minButtonSize: 20px;

.sheButton {
  min-width: $buttonSize;
  min-height: $buttonSize;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  box-sizing: border-box;

  &:focus-visible {
    box-shadow: 0 0 0 1px lightgray inset;
  }

  span {
    line-height: 14px;
    flex-grow: 1;
    width: 100%;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .iconElement {
    position: relative;
    transition: all 130ms ease-in-out;
  }
}

// ======================================================== VARIANT

.sheButton {
  &.default {
  }

  &.link {
  }

  &.outline {
  }

  &.ghost {
  }

  &.destructive {
  }

  &.secondary {
  }
}

// ======================================================== FULL WIDTH

.sheButton.fullWidth {
  max-width: none;
  min-width: 0;
  width: 100%;
}

// ======================================================== WITH TEXT

.sheButton.withText {
  min-width: auto;
  padding: 8px 16px;
}

// ======================================================== ICON WITH TEXT

.sheButton.withText {
  &.leftIcon {
    padding-left: 8px;
  }

  &.rightIcon {
    padding-right: 8px;
  }

  &.sizeSmall.leftIcon {
    padding-left: 4px;
  }

  &.sizeSmall.rightIcon {
    padding-right: 4px;
  }
}

// ======================================================== LOADING

.sheButton {
  .loaderContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 6px;
    background-color: rgba(139, 139, 139, 0.4);
  }
}

// ======================================================== SIZE

.sheButton {
  &.sizeSmall {
    min-width: $minButtonSize;
    min-height: $minButtonSize;
    padding: 4px;
    gap: 2px;

    span {
      position: relative;
      top: -0.5px;
      font-size: 12px;
      line-height: 15px;
    }

    .iconElement {
    }
  }

  &.withText.sizeSmall {
    padding: 4px 8px;
  }
}

// ======================================================== VIEW

.sheButton {
  &.viewCircle {
    border-radius: 100%;

    .loaderContainer {
      border-radius: 100%;
    }
  }
}

// ======================================================== TWIST ICON

.sheButton.twistIcon {
  .iconElement {
    transform: rotate(180deg);
  }
}

// ======================================================== VALUE WRAP

.sheButton.valueWrap {
  span {
    text-wrap: initial;
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
  }
}
