@use "@/styles/variables" as vars;

.dndGrid {
  display: flex;
  flex-direction: column;

  .dndGridWithHeader {
  }

  .dndGridContainer {
    position: relative;
    border: vars.$brd;
    border-radius: vars.$brdR_03;

    > div {
      border-radius: vars.$brdR_03;

      > table {
        border-radius: vars.$brdR_03;

        thead {
          tr {
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            th {
              display: flex;
              align-items: center;
              padding: 8px;
              flex-grow: 1;
              width: 16px !important;
              min-height: 38px;
              height: auto;
              overflow: hidden;
              cursor: auto;

              > * {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }

        /*.dndGridRowsBody {
          tr {
            td {
              display: flex;
              align-items: center;
              padding: 8px;
              flex-grow: 1;
              width: 16px !important;
              height: auto;
              overflow: hidden;

              > * {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }*/
      }
    }
  }
}

// ------------------------------------------------------- TABLE HEADER

.dndGrid .dndGridContainer .dndGridTableHeader {
  &:hover {
    background: transparent;
  }
}

// ------------------------------------------------------- LOADER

.dndGrid {
  .dndGridLoader {
    z-index: 9;
    border-radius: 0.3rem 0.3rem 0 0 !important;
  }

  &.dndGridWithColumnsHeader .dndGridLoaderWrapper {
    position: relative;
    top: -2px;
    height: 0;
    display: flex;

    > th {
      height: 0;
      padding: 0;
      min-height: 0;

      .dndGridLoader {
        border-radius: 0 !important;
      }
    }
  }
}

// ------------------------------------------------------- HIDE COLUMNS HEADER

.dndGrid .dndGridContainer .hiddenHeader {
  display: none;
}

// ------------------------------------------------------- DND ROW

.dndGridGhostOverlay {
  .dndGridGhostItem {
    border: vars.$brd;
    box-sizing: border-box;
    border-radius: vars.$brdR_03;
  }
}

// ------------------------------------------------------- DND ICON

:global(.dndTriggerIcon) {
  min-width: 24px;
  max-width: 24px;
  padding: 0 !important;
  cursor: grab;
}
