@use "@/styles/variables" as vars;

$iconSize: 20px;
$chevronIconSize: 16px;

.sheSelect {
  button[data-placeholder] {
    span {
      color: vars.$placeholderColor;
      text-align: start;
    }
  }

  button[role="combobox"] {
    transition: all 160ms ease-in-out;
    min-height: vars.$minHeight + px;

    &:focus-visible {
      box-shadow: 0 0 0 1px lightgray inset;
    }

    > svg {
      color: vars.$subtextColor;
      max-width: $chevronIconSize;
      min-width: $chevronIconSize;
      max-height: $chevronIconSize;
      min-height: $chevronIconSize;
      transition: all 130ms ease-in-out;
    }

    > span {
      width: 100%;

      > div > div {
        padding: 0;
      }

      .sheSelectItemCover {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 4px;
      }

      // --------------------------------- ICON
      .sheSelectItemIconContainer {
        //display: none;
      }

      // --------------------------------- COLOR
      .sheSelectItemColorsContainer {
        display: none;
      }

      // --------------------------------- INFO
      .sheSelectItemInfoContainer {
        display: flex;
        flex-grow: 1;

        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        > div {
          &:nth-child(1) {
            text-align: start;
            display: flex;
            flex-grow: 1;
            width: 10px;

            :global(.she-subtext) {
              display: none;
            }
          }

          &:nth-child(2) {
            display: none;
          }
        }
      }

      // --------------------------------- TOOLTIP
      .sheSelectItemTooltipContainer {
        display: none;
      }
    }
  }
}

// ======================================================== IS OPEN

.sheSelect {
  .sheSelectOpen {
    > svg {
      transform: rotate(-180deg);
    }
  }
}

// ======================================================== NOT SELECT ITEM

.sheSelectItemNotSelected {
  span {
    color: vars.$subtextColor;
    font-weight: bold;
    opacity: 0.8;
  }

  .sheSelectItemIconContainer {
    > * {
      display: none;
    }
  }
}

// ======================================================== SELECT ITEMS CONTAINER

.sheSelectItemsContainer {
  max-height: 35vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

// ======================================================== HIGHLIGHT

.sheSelect.highlighted {
  button {
    border-color: vars.$colorBlue !important;
  }
}
