@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheSelect {
  max-width: vars.$maxWidth;
  width: 100%;

  .sheSelectComponent {
    position: relative;

    .sheSelectControl {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;

      button[data-placeholder] {
        span {
          color: vars.$placeholderColor;
          text-align: start;
        }
      }

      button[role="combobox"] {
        > span {
          width: 100%;

          .sheSelectItemContextContainer {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 8px;

            // --------------------------------- ICON
            .sheSelectItemIconContainer {
              display: none;
            }

            // --------------------------------- COLOR
            .sheSelectItemColorsContainer {
              display: none;
            }

            // --------------------------------- INFO
            .sheSelectItemInfoContainer {
              display: flex;
              flex-grow: 1;

              .sheSelectItemDescription {
                display: none;
              }

              .sheSelectItemExtraInfoBlock {
                display: none;
              }
            }

            .sheSelectItemTooltipContainer {
              display: none;
            }
          }
        }
      }

      .iconBlock {
        position: absolute;
        color: vars.$subtextColor;
        left: 8px;
        top: 10px;
        max-width: $iconSize;
        min-width: $iconSize;
        max-height: $iconSize;
        min-height: $iconSize;
      }
    }
  }
}

// ======================================================== SELECT ITEM

:global(div[data-radix-popper-content-wrapper]) {
  > div[role="listbox"] {
    overflow: visible;

    > div[role="presentation"] {
      div[role="option"].sheSelectItem {
        max-width: 97vw;
        min-height: 42px;
        padding: 8px 6px;

        &.sheShowSelectIcon {
          padding-left: 32px;

          > span {
            &:nth-child(1) {
              display: flex;
            }
          }
        }

        // ------  selected
        &[data-state="checked"] {
          background-color: #f5f5f5;
        }

        > span {
          // ------  select icon
          &:nth-child(1) {
            display: none;
          }

          // ------  select context
          &:nth-child(2) {
            flex-grow: 1;

            .sheSelectItemContextContainer {
              display: flex;
              align-items: center;
              gap: 8px;

              // --------------------------------- ICON
              .sheSelectItemIconContainer {
                max-width: $iconSize;
                min-width: $iconSize;

                .iconBlock {
                  color: vars.$subtextColor;
                  max-width: $iconSize;
                  min-width: $iconSize;
                  max-height: $iconSize;
                  min-height: $iconSize;
                }

                .iconPlaceholder {
                  color: rgba(192, 206, 232, 0.61);
                }
              }

              // --------------------------------- COLOR
              .sheSelectItemColorsContainer {
                display: flex;
                flex-direction: column;
                gap: 1px;
                min-width: 6px;
                max-width: 6px;

                > div {
                  padding: 3px;
                  border-radius: 100%;
                }
              }

              // --------------------------------- INFO
              .sheSelectItemInfoContainer {
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                gap: 8px;

                .sheSelectItemInfoBlock,
                .sheSelectItemExtraInfoBlock {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  flex-grow: 1;

                  :global(.she-subtext) {
                    font-size: 10px;
                  }

                  span {
                    word-break: break-all;
                    line-height: 12px;
                  }
                }

                .sheSelectItemInfoBlock {
                }

                .sheSelectItemExtraInfoBlock {
                  text-align: end;
                  max-width: 30%;
                  min-width: 20px;
                }
              }

              // --------------------------------- TOOLTIP
              .sheSelectItemTooltipContainer {
                min-width: 17px;
                max-width: 17px;
              }
            }
          }
        }
      }
    }
  }
}

// ======================================================== FULL WIDTH

.sheSelect.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheSelect.required {
  .sheSelectComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== WITH ICON

.sheSelect.withIcon {
  .sheSelectComponent {
    .sheSelectControl {
      .sheSelectSkeleton {
        button:nth-child(1) {
          padding-left: 36px;
        }
      }
    }
  }
}
