@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheSelect {
  max-width: vars.$maxWidth;
  width: 100%;

  .sheSelectComponent {
    position: relative;

    .sheSelectControl {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;

      .sheSelectSkeleton {
        button[data-placeholder] {
          span {
            color: vars.$placeholderColor;
          }
        }
      }

      .iconBlock {
        position: absolute;
        color: vars.$subtextColor;
        left: 8px;
        top: 10px;
        max-width: $iconSize;
        min-width: $iconSize;
        max-height: $iconSize;
        min-height: $iconSize;
      }

      .sheSelectItem {
        // TODO this bock need to be styled and placed in global style file, the items of select option rendered outside main component, on tag body level, and need to be styled globally
      }
    }
  }
}

// ======================================================== FULL WIDTH

.sheSelect.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheSelect.required {
  .sheSelectComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== WITH ICON

.sheSelect.withIcon {
  .sheSelectComponent {
    .sheSelectControl {
      .sheSelectSkeleton {
        button:nth-child(1) {
          padding-left: 36px;
        }
      }
    }
  }
}
