@use "@/styles/variables" as vars;

.sheFormItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  flex-grow: 1;

  > div {
    overflow: visible;
  }

  > label {
    color: vars.$titleColor;
  }

  > p {
    margin: 0 !important;
    font-size: 12px;
  }
}

// ======================================================== DESCRIPTION AREA

.sheFormItem.withDescription {
  min-height: 98px;
}
