.shipmentStatus {
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 0 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
}

.shipmentStatusAvailable {
  border: 1px solid #38BF5E;
  background: #EBF9EF;
  color: #38BF5E;
}

.shipmentStatusNotAvailable {
  border: 1px solid #d31515;
  background: #F9EBEBFF;
  color: #d31515;
}