@use "@/styles/variables" as vars;

.sheForm {
  .sheFormContent {
    margin: 20px 0;
  }
}

// ======================================================== POSITION

.sheForm {
  &.card {
    border: 1px solid vars.$brdColor;
    padding: 20px;
    border-radius: vars.$brdR_075;
  }
}
