@use "@/styles/variables" as vars;

.manageTraitsCard {
  .manageTraitsCardContent {
    margin-top: 20px;
    padding: 0 20px;

    .manageTraitsCardTextBlock {
      padding-bottom: 20px;
    }

    .manageTraitsCardForm {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}