@use "@/styles/variables" as vars;

.manageTraitsCard {
  .manageTraitsCardContent {
    .manageTraitsCardTextBlock {
      padding-bottom: 20px;
    }

    .manageTraitsCardForm {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
    }
  }
}