@use "@/styles/variables" as vars;

.purchaseProductsCard {
  .productsPageContent {
    .tabItemsWrapper {
      margin: 0 -20px;
      border-bottom: 1px solid vars.$colorMedium;
      overflow: hidden;

      .tabItems {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        background-color: transparent;
        margin-bottom: -3px;

        .tabItemTrigger {
          box-shadow: none;
          border-radius: 0;

          &[data-state="active"] {
            border-bottom: 1px solid #38bf5e;
          }

          .tabBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
          }
        }
      }
    }
  }
}