@use "@/styles/variables" as vars;

.disposeStockCard {
  .disposeStockCardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .currentlyStockBlock {
    }

    .disposeFormBlock {
      .select {
        padding-top: 20px;
      }
    }
  }
}