@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheAutocomplete {
  max-width: vars.$maxWidth + px;
  width: 100%;

  .sheAutocompleteTriggerContainer {
    width: 100%;
    display: flex;
    align-items: end;
    gap: 5px;

    .sheAutocompleteTriggerAnchor {
      width: 100%;
    }
  }
}

// ======================================================== SELECT BUTTON

.sheAutocomplete {
  .sheAutocompleteSelectButton {
    position: relative;
    top: -9px;
  }
}

// ======================================================== POPOVER

.sheAutocompletePopoverContainer {
  background: vars.$colorLight;

  div[role="listbox"] {
    overflow-y: unset;
    max-height: none;
  }

  .sheAutocompleteGroupContainer {
    > div[role="group"] {
      max-height: 35vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}

// ======================================================== FULL WIDTH

.sheAutocomplete.fullWidth {
  max-width: none;
  width: 100%;
}

// ========================================================= NO DATA BLOCK

.sheAutocompletePopoverContainer {
  .sheAutocompletePopoverPlaceholder {
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;

    span {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      opacity: 0.4;
      color: vars.$placeholderColor;
      text-align: center;
    }
  }
}

// ========================================================= ITEMS WRAPPER

.sheAutocompleteItemParentWrapper {
  padding: 0;

  .sheSelectItemOption {
    background: transparent;
    min-height: 42px;
    padding: 8px 6px;
  }

  > div[role="option"] {
    cursor: pointer;
  }
}
