.marginItemsFormWrapper {
  .marginItemsForm {
    form > div {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      padding-top: 0;

      .marginItemsFormItem {
        margin-bottom: 0;
        min-height: 100%;
        min-width: fit-content;

        .inputChanged {
          input {
            border-color: #007AFF;
          }
        }

        .selectChanged {
          button {
            border-color: #007AFF;
          }
        }
      }

      .marginItemsFormText {
        width: 60px;
      }

      .marginItemsFormInput {
        width: 100px;
      }

      .marginItemsFormIcon {
        width: 24px;
      }

      .formButton {

        background: #007AFF;
        color: #fff;

      }

      .disabledFormButton {
        background: #F4F4F5;
        color: #000;
      }
    }
  }
}