.productConfigurationForm {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  & form > div {
    gap: 5px;
  }

  .componentWithButton {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    .formButton {
      margin-top: 19px;
    }
  }

  .formFooter {
    justify-content: flex-end;
  }
}
