@use "@/styles/variables" as vars;

.productPhotosCard {
  .productPhotosCardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .managePhotos {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .managePhotosGrid {
        .photosGrid {
        }
      }
    }
  }
}
