@use "@/styles/variables" as vars;

.productPhotosCard {
  .productPhotosCardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .managePhotos {
      .managePhotosTitle {
        text-align: center;
        margin-bottom: 20px;
      }

      .managePhotosGrid {
        .photosGrid {
        }
      }
    }
  }
}
