@use "@/styles/variables" as vars;

$iconSize: 20px;

:global(div[data-radix-popper-content-wrapper]) {
  > div[role="listbox"] {
    overflow: visible;

    > div[role="presentation"] {
      div[role="option"].sheSelectItem {
        padding: 0;

        &.sheShowSelectIcon {
          padding-left: 32px;

          > span {
            &:nth-child(1) {
              display: flex;
            }
          }
        }

        .sheSelectItemOption {
          background: transparent;
          max-width: 67vw;
          min-height: 42px;
          padding: 8px 6px;
        }

        // ------  selected
        &[data-state="checked"] {
          background-color: #f5f5f5;
        }

        > span {
          // ------  select icon
          &:nth-child(1) {
            display: none;
          }

          // ------  select context
          &:nth-child(2) {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
