@use "@/styles/variables" as vars;

.ordersCard {
  position: relative;
  width: 100%;

  .ordersCardContent {
    width: 100%;
    max-width: none;

    .ordersCardHeader {
      min-height: 64px !important;
    }
  }

  .createOrderButton {
    position: absolute;
    right: 10px;
    top: 15px;
  }
}
