$iconSize: 40px;

.sheIcon {
  width: $iconSize;
  fill: currentColor;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  img {
    width: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

// ======================================================== FULL WIDTH

.sheIcon.fullWidth {
  max-width: none;
  min-width: 0;
  width: 100%;
}
