.dropdownMenuContent {
  width: 100%;
  padding: 10px;
}

.dropdownMenuTrigger {
  min-width: fit-content;
  padding: 8px !important;
  display: flex;
  justify-content: space-between;

  &:focus-visible {
    box-shadow: none;
  }

  .chevronIcon {
    transition: all ease-in-out 160ms;
  }
}

// =========================================================== OPEN

.dropdownMenuOpen {
  .chevronIcon {
    transform: rotate(180deg);
  }
}
