@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheErrorMessageBlock {
  display: flex;
  margin-top: 4px;
  align-items: center;

  span {
    line-height: 14px;
  }
}

// ======================================================== ICON

.sheErrorMessageBlock {
  .iconBlock {
    color: vars.$colorRed;
    max-width: $iconSize;
    min-width: $iconSize;
    max-height: $iconSize;
    min-height: $iconSize;
    margin-right: 4px;
    margin-top: 4px;
  }
}
