@use "@/styles/variables" as vars;

$iconSize: 20px;

.shePrimitiveComponentWrapper {
  max-width: vars.$maxWidth + px;
  width: 100%;

  .shePrimitiveComponentWrapperContainer {
    position: relative;

    .shePrimitiveComponentWrapperControl {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      transition: all 160ms ease-in-out;

      .shePrimitiveComponentWrapperContext {
        display: flex;
        flex-grow: 1;
        width: 100%;
      }
    }
  }
}

// ======================================================== ICON

.shePrimitiveComponentWrapper {
  .iconBlock {
    position: absolute;
    top: 11px;
    left: 8px;
    z-index: 1;
    color: vars.$subtextColor;
    max-width: $iconSize;
    min-width: $iconSize;
    max-height: $iconSize;
    min-height: $iconSize;
  }
}

// ======================================================== FULL WIDTH

.shePrimitiveComponentWrapper.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.shePrimitiveComponentWrapper.required {
  .shePrimitiveComponentWrapperContainer:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== WITH ICON

.shePrimitiveComponentWrapper:global(.withIcon) {
  .shePrimitiveComponentWrapperContainer {
    .shePrimitiveComponentWrapperControl {
      .shePrimitiveComponentWrapperContext {
      }
    }
  }
}
