@use "@/styles/variables" as vars;

.sheGridItem {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 58px;
  cursor: auto;
  background: white !important;
  transition: all 160ms ease-in-out;

  &:hover {
    background: vars.$secondaryBg !important;
  }

  td {
    display: flex;
    align-items: center;
    padding: 8px;
    flex-grow: 1;
    width: 16px !important;
    height: auto;
    overflow: hidden;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dndIcon {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        opacity: 0.5;
      }
    }
  }
}

// ------------------------------------------------------- SELECTED

.sheGridItem.sheGridItemSelected {
  background: vars.$secondaryBg !important;
}

// ------------------------------------------------------- DRAGGING

.sheGridItem.sheGridItemDragging {
  background: vars.$secondaryBg !important;
  //border: 4px dashed vars.$brdColor;

  * {
    opacity: 0;
  }
}
