.sheConfirmationDialog {
}

.confirmationDialogContent {
  display: flex;
  flex-direction: column;
  min-width: 400px;

  .confirmationDialogTitle,
  .confirmationDialogText,
  .confirmationDialogDescription {
    padding-bottom: 20px;
  }

  .confirmationDialogText {
    padding-top: 20px;
  }
}
