@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheBadgeList {
  width: fit-content;

  .sheBadgeListComponent {
    position: relative;

    .sheBadgeListControl {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: all 160ms ease-in-out;

      .sheBadgeListContext {
        width: 100%;
        overflow: auto;
        //scroll-behavior: smooth;
        transition: scroll-behavior 130ms ease-in-out;

        .sheBadgeListItemsContainer {
          display: flex;
          gap: 4px;
          flex-wrap: wrap;

          .sheBadgeListItem {
            display: flex;
            width: fit-content;
          }
        }
      }

      .iconBlock {
        color: vars.$subtextColor;
        max-width: $iconSize;
        min-width: $iconSize;
        max-height: $iconSize;
        min-height: $iconSize;
      }
    }
  }
}

// ======================================================== FULL WIDTH

.sheBadgeList.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheBadgeList.required {
  .sheBadgeListComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== VIEW

.sheBadgeList.card {
  border: 1px solid vars.$brdColor;
  padding: vars.$paddingStandard;
  border-radius: vars.$brdR_075;
}

// ======================================================== NO DATA BLOCK

.sheBadgeList {
  .noDataBlock {
    display: flex;
    align-items: center;
  }
}

// ======================================================== PLUS MORE BTN

.sheBadgeList {
  .plusMoreBtn {
    padding-left: 4px !important;
    gap: 0;
  }
}

// ======================================================== WRAP BADGES

.sheBadgeList {
  &.nowrap {
    .sheBadgeListItemsContainer {
      width: max-content;
    }
  }
}

::-webkit-scrollbar:horizontal {
  height: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #c9c9c9;
}
