@use "@/styles/variables" as vars;

.supplierCard {
  .supplierCardContent {
    height: calc(100vh - 219px);
    display: flex;
    flex-direction: column;
    gap: vars.$paddingStandard;
    padding-bottom: vars.$paddingStandard;

    .noSelectedSupplier {
      display: flex;
      flex-direction: column;
      gap: vars.$paddingStandard;
    }

    .selectedSupplier {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: vars.$paddingStandard;
    }
  }
}