@use "@/styles/variables" as vars;

.createProductTraitCard {
  .createProductTraitContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .formInput {
        max-width: 100%;
      }
    }

    .buttonBlock {
      display: flex;
      justify-content: space-between;
    }
  }
}