.variantBlock {
  display: flex;
  align-items: center;
  gap: 20px;

  .variantPhoto {
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;

    img {
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }

    .variantPhotoIcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .variantInfoBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .variantNameBlock {
      .variantName {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .variantDetailsBlock {
      display: flex;
      align-items: center;
      gap: 20px;

      .variantTraits {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;

        .colorOptions {
          min-width: 20px;
          min-height: 20px;
          border-radius: 50%;
          border: 2px solid #ccc;
        }
      }
    }
  }
}