@use "@/styles/variables" as vars;

$clearBtnSize: 16px;

.sheClearButtonWrapper {
  display: flex;
  align-self: stretch;

  .sheClearButtonSkeleton {
    display: flex;
    align-self: center;
    overflow: hidden;

    .sheClearButton {
      color: vars.$subtextColor;
      border-radius: vars.$brdR_03;
    }
  }
}
