.marginConfiguration {
  .marginConfigurationForm {
    display: flex;
    flex-direction: column;

    .formFooterOneButton {
      justify-content: flex-end;
    }

    .formFooterTwoButton {
      justify-content: space-between;
    }


    .marginConfigurationTitle {
      padding-bottom: 20px;
      align-self: start;
    }

    .marginConfigurationText {
      width: 100%;
      padding-bottom: 20px;
      margin-top: -5px;
      text-wrap: wrap;
    }

    .marginConfigurationFormItem {
      margin-bottom: 20px;
      min-height: 100%;
    }

    .percentInputBlock {
      position: relative;
      width: 100%;

      .percentInputSymbol {
        position: absolute;
        z-index: 1;
        top: 11px;
        left: 10px;
      }

      .percentInput {
        input {
          padding-left: 25px;
        }
      }
    }

    .selectSupplierBlock {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .selectSupplierButton {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
      }
    }

    .buttonBlock {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .oneButtonBlock {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}