@use "@/styles/variables" as vars;

.sheTimePicker {
  width: fit-content;

  .sheTimePickerElementWrapper {
    display: flex;
    align-items: flex-end;
    gap: 8px;

    .sheTimePickerElementInputCell {
      display: grid;
      gap: 4px;
      text-align: center;
    }
  }

  .sheTimePickerLabel {
    label {
      top: -2px;
      font-size: 11px;
    }
  }
}

// ======================================================== ICON

.sheTimePicker {
  &.sheTimePickerWithLabels .sheTimePickerIcon {
    top: 26px;
  }

  &.sheTimePickerWithLabels.small .sheTimePickerIcon {
    top: 23px;
  }

  &.small .sheTimePickerIcon {
    top: 8px;
    $smallIcon: 14px;
    max-width: $smallIcon;
    min-width: $smallIcon;
    max-height: $smallIcon;
    min-height: $smallIcon;
  }
}

// ======================================================== CLEAR BUTTON

.sheTimePicker {
  &.sheTimePickerWithLabels .sheTimePickerClearButton {
    padding-top: 15px;
  }

  .small .sheTimePickerClearButton {
    //padding-top: 15px;
  }
}

// ======================================================== TYPE

.sheTimePicker {
  &.timer,
  &.clock {
    .sheTimePickerIcon {
      top: 1px;
    }

    &.sheTimePickerWithLabels .sheTimePickerIcon {
      top: 16px;
    }

    .sheTimePickerElementWrapper {
      gap: 1px;
      align-items: center;

      .sheTimePickerElementInputCell {
        &.sheTimePickerClockViewCell {
          &:after {
            position: absolute;
            margin-left: 22px;
            content: ":";
            display: inline;
            bottom: 1px;
          }
        }

        input,
        button {
          pointer-events: none;
          padding: 0;
          border: 0;
          box-shadow: none;
          height: 24px;
          width: 24px;
          min-width: 24px;
          max-width: 24px;
        }

        input {
          min-height: 0;
        }

        .sheTimePickerSelect {
          min-width: 26px !important;
          max-width: 26px !important;

          button {
            position: relative;
            top: 1px;

            span {
              font-size: 14px;
              line-height: 14px;
            }

            svg {
              display: none;
            }
          }
        }
      }
    }

    &.small {
      .sheTimePickerIcon {
        top: 3px;
      }

      &.sheTimePickerWithLabels .sheTimePickerIcon {
        top: 18px;
      }

      .sheTimePickerElementWrapper {
        .sheTimePickerElementInputCell {
          &.sheTimePickerClockViewCell {
            &:after {
              margin-left: 20px;
              font-size: 12px;
              bottom: 2px;
            }
          }

          input,
          button {
            pointer-events: none;
            padding: 0;
            border: 0;
            box-shadow: none;
          }

          input {
            $inputSize: 20px;
            height: $inputSize;
            width: $inputSize;
            min-width: $inputSize;
            max-width: $inputSize;
          }

          .sheTimePickerSelect {
            $selectWith: 16px;
            position: relative;
            left: -4px;
            min-width: $selectWith;
            max-width: $selectWith;

            button {
              position: relative;
              top: 0;
              min-width: $selectWith;
              max-width: $selectWith;
              height: auto;

              span {
                font-size: 10px;
                line-height: 10px;
              }

              svg {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

// ======================================================== SIZE

.sheTimePicker.small {
  .sheTimePickerElementWrapper {
    gap: 4px !important;

    input,
    button {
      padding: 4px;
      height: 30px;
      width: 50px;
      min-width: 50px;
      max-width: 50px;
      text-align: center;
      font-size: 12px;
    }

    input {
      height: 30px;
      min-height: 30px;
      max-height: 30px;
      width: 30px;
      min-width: 30px;
      max-width: 30px;
    }
  }

  .sheTimePickerSelect {
    min-width: 50px !important;
    max-width: 50px !important;

    button {
      * {
        font-size: 12px;
      }
    }
  }
}

// ======================================================== INVALID

.sheTimePicker.invalid {
  input,
  button {
    color: vars.$colorRed;

    * {
      color: vars.$colorRed;
    }
  }

  .sheTimePickerElementWrapper {
    .sheTimePickerElementInputCell {
      &.sheTimePickerClockViewCell {
        &:after {
          color: vars.$colorRed;
        }
      }
    }
  }
}
