@use "@/styles/variables" as vars;

.manageVariantsCard {
  .manageVariantsContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;

    .textBlock {
      display: flex;
      align-items: center;
      height: 100px;
      padding-top: 20px;
      gap: 20px;

      .dropdownMenu {
        button {
          height: 30px;
          width: 30px;
          box-shadow: none;
        }
      }
    }

    .buttonBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}