@use "@/styles/variables" as vars;

.manageVariantsCard {
  .manageVariantsContent {
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 6px;
      height: 10px;
      background: white;
    }

    .textBlock {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-bottom: 20px;
      text-wrap: auto;

      .dropdownMenu {
        button {
          height: 30px;
          width: 30px;
          box-shadow: none;
        }
      }
    }

    .buttonBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px 0;
    }
  }
}