@use "@/styles/variables" as vars;

.manageVariantsCard {
  .manageVariantsContent {
    padding: 0 20px;

    .textBlock {
      display: flex;
      align-items: center;
      height: 100px;
      padding: 20px 0;
    }

    .buttonBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}