@use "@/styles/variables" as vars;

#AuthPage {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authPageWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  min-width: 240px;
  padding: 20px;
  border: vars.$brdLight;
  border-radius: vars.$brdR_075;

  .authHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;

    .authHeaderLogo {
      width: 40px;
    }
  }

  .authContent {
    width: 100%;

    .FacebookButtonBlock {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .authContentBorder {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        font-size: vars.$fontSizeSubtext;
        color: vars.$subtextColor;
      }

      .authContentBorder::before,
      .authContentBorder::after {
        content: "";
        flex: 1;
        margin: 0 2px;
        border-bottom: 1px solid vars.$brdColor;
      }
    }

    .authInputBlock {
      position: relative;

      .forgotPasswordLink {
        position: absolute;
        top: 28%;
        left: 70%;
        padding: 0;
        font-size: vars.$fontSizeSubtext;

        &:hover {
          opacity: 0.5;
          border-bottom: 1px solid vars.$brdColor;
        }
      }

      .passwordInput {
        margin-top: vars.$paddingStandard;
      }

      input {
        box-shadow: none;
      }

      button {
        width: 100%;
      }
    }
  }

  .footerText {
    margin-top: 10px;

    span,
    a {
      font-size: vars.$fontSizeSubtext;
    }
  }
}
