@use "@/styles/variables" as vars;

.gridHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;

  .gridHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px 0;

    .headerGroup {
      display: flex;
      gap: 10px;
      align-items: center;

      .filterButton {
        background-color: vars.$colorGreen;
        color: vars.$colorLight;
      }
    }
  }

  .filtersContainer {
    display: flex;
    justify-content: space-between;

    .customFilters {
      display: flex;
      gap: 10px;
    }
  }
}
