@use "@/styles/variables" as vars;

$iconSize: 20px;

.sheListItem {
  min-height: 42px;
  padding: 8px 6px;
  cursor: pointer;

  .sheListItemContextContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 8px;

    // --------------------------------- TOGGLE
    .sheListItemToggleContainer {
      max-width: $iconSize;
      min-width: $iconSize;
    }

    // --------------------------------- ICON
    .sheListItemIconContainer {
      max-width: $iconSize;
      min-width: $iconSize;

      .iconBlock {
        color: vars.$subtextColor;
        max-width: $iconSize;
        min-width: $iconSize;
        max-height: $iconSize;
        min-height: $iconSize;
      }

      .iconPlaceholder {
        color: rgba(192, 206, 232, 0.61);
      }
    }

    // --------------------------------- COLOR
    .sheListItemColorsContainer {
      display: flex;
      flex-direction: column;
      gap: 1px;
      min-width: 6px;
      max-width: 6px;

      > div {
        padding: 3px;
        border-radius: 100%;
      }
    }

    // --------------------------------- INFO
    .sheListItemInfoContainer {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      gap: 8px;

      .sheListItemInfoBlock,
      .sheListItemExtraInfoBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        :global(.she-subtext) {
          font-size: 10px;
        }

        span {
          word-break: break-all;
          line-height: 12px;
        }

        .sheListItemDescription {
          padding-top: 2px;
        }
      }

      .sheListItemInfoBlock {
      }

      .sheListItemExtraInfoBlock {
        text-align: end;
        max-width: 30%;
        min-width: 20px;
      }
    }

    // --------------------------------- TOOLTIP
    .sheListItemTooltipContainer {
      min-width: 17px;
      max-width: 17px;
    }
  }
}

// =================================================== SELECTED

.sheListItem.sheListItemSelected {
  //background-color: #f5f5f5;
}

// =================================================== VIEW

.sheListItem {
  &.normal {
  }

  &.card {
  }
}
