.profilePage {
  padding: 20px;

  .profilePageContent {
    border: 1px solid #E4E4E7;
    border-radius: 10px;

    .profilePageTitle {
      padding: 20px;
    }

    .profilePageBlock {
      display: flex;
      gap: 20px;
      justify-content: center;
      padding: 20px;

      .profilePageTextBlock {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        min-width: 100px;
        max-width: 400px;

        .passwordBlock {
          .passwordRulesList {
            list-style-type: disc;
            margin-left: 30px;
          }
        }
      }

      .profilePageContentBlock {
        display: flex;
        gap: 20px;
        width: 100%;
        min-width: 100px;
        max-width: 400px;

        .avatarImageBlock {
          .avatarImage {
            object-fit: cover;
            border-radius: calc(var(--radius) - 2px);
            width: 100%;
            height: 100%;
          }

          .avatarInitials {
            width: 40px;
            height: 40px;
            background-color: #ececec;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #555;
            font-weight: 600;
            font-size: 16px;
            user-select: none;
          }

          .noImageIcon {
            border: 1px solid red;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .fileUploader {
          width: 100%;
        }
      }
    }

    .cardNotificationWrapper {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      .cardNotification {
        width: 830px;
      }
    }

    .cardSubtitle {
      font-size: 16px;
      font-weight: 700;
    }
  }
}
