.dropdownMenuContent {
  width: 100%;
  padding: 10px;
}

.dropdownMenuTrigger {
  min-width: fit-content;
  padding: 8px !important;

  &:focus-visible {
    box-shadow: none;
  }

  .buttonInnerItems {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      padding-top: 4px;
    }
  }
}