.productNameWrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  .productNameImageBlock {
    .productNameImage {
      object-fit: cover;
      border-radius: 5px;
      min-width: 30px;
      max-width: 30px;
    }
  }
}