.productsInOrderCard {
  .productsInOrderCardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .addProductBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      span {
        width: 70%;
      }
    }

    .productsSummaryBlock {
      display: flex;
      flex-direction: column;

      .productsSummary {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .productsSummaryTitle {
          font-weight: 500;
          font-size: 16px;
        }

        .productsSummaryTextBlock {
          display: flex;
          width: 100%;
        }

        .productsSummaryText {
          width: 50%;
        }
      }
    }
  }
}
