@use "@/styles/variables" as vars;

.sheCalendar {
  width: fit-content;
  min-width: 252px;
  max-width: none;

  .sheCalendarContextBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .sheCalendarFilterContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      padding-bottom: 6px;
    }

    .sheCalendarElementContainer {
      display: flex;
      flex-direction: column;

      .sheCalendarElement {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
      }

      .sheCalendarTimePicker {
        display: flex;
        justify-content: center;

        label {
          justify-content: center;
        }
      }
    }
  }
}

// ======================================================== CLEAR BUTTON

.sheCalendar {
  .sheCalendarClearButton {
    align-self: start;
    position: relative;
    top: 10px;
  }
}

// ======================================================== MARKED DAYS

.sheCalendar {
  [aria-selected="true"] {
    box-shadow: 0 0 0 0.4px lightgray inset;
  }

  .today:before {
    position: absolute;
    left: 2px;
    top: -19px;
    color: vars.$colorGreen;
    content: ".";
    font-size: 46px;
    display: inline;
  }

  .markedDay {
    position: relative;
    box-sizing: border-box;
    color: vars.$colorBlue;
    box-shadow: 0 0 0 0.4px vars.$colorBlue inset;
  }
}

// ======================================================== NO FILTER

.sheCalendar.noFiltersBlock {
  .sheCalendarContextBlock {
    .sheCalendarFilterContainer {
      display: none;
    }
  }
}
