@use "@/styles/variables" as vars;

.sheCalendar {
  width: fit-content;
  min-width: 252px;

  .sheCalendarComponent {
    position: relative;

    .sheCalendarControl {
      position: relative;
      display: flex;
      gap: 4px;

      .sheCalendarContextBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        .sheCalendarFilterContainer {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 10px;
          justify-content: center;
          padding-bottom: 6px;
        }

        .sheCalendarElementContainer {
          display: flex;
          flex-direction: column;

          .sheCalendarElement {
            display: flex;
            justify-content: center;
            padding: 0;
            width: 100%;
          }

          .sheCalendarTimePicker {
            display: flex;
            justify-content: center;

            label {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

// ======================================================== FULL WIDTH

.sheCalendar.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheCalendar.required {
  .sheCalendarComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== MARKED DAYS

.sheCalendar {
  [aria-selected="true"] {
    box-shadow: 0 0 0 0.4px lightgray inset;
  }

  .today:before {
    position: absolute;
    left: 2px;
    top: -19px;
    color: vars.$colorGreen;
    content: ".";
    font-size: 46px;
    display: inline;
  }

  .markedDay {
    position: relative;
    box-sizing: border-box;
    color: vars.$colorBlue;
    box-shadow: 0 0 0 0.4px vars.$colorBlue inset;
  }
}

// ======================================================== VIEW

.sheCalendar.card {
  .sheCalendarComponent {
    .sheCalendarControl {
      .sheCalendarElementContainer {
        border: 1px solid vars.$brdColor;
        padding: vars.$paddingSmall;
        border-radius: vars.$brdR_03;
      }
    }
  }
}

// ======================================================== NO FILTER

.sheCalendar.noFiltersBlock {
  .sheCalendarComponent .sheCalendarControl .sheCalendarContextBlock {
    .sheCalendarFilterContainer {
      display: none;
    }
  }
}
