.sidebarMenu {
  max-width: 250px;

  .dropdownMenuTrigger {
    box-shadow: none;

    .userText {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.dropdownMenuItem {
  cursor: pointer;
  max-height: 40px;

  &:hover {
    .dropdownMenuItemText {
      color: black;
    }

    .dropdownMenuItemIcon {
      svg {
        color: black;
      }
    }
  }

  .dropdownMenuItemText {
    color: #71717A;

  }
}

.dropdownMenuItemLogOut {
  cursor: pointer;
  max-height: 35px;

  &:hover {
    .dropdownMenuItemText {
      color: black;
    }

    .dropdownMenuItemIcon {
      svg {
        color: black;
      }
    }
  }

  .dropdownMenuItemText {
    color: #71717A;
  }
}