.purchaseProducts {
  .purchaseProductsForm {
    form > div {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
      padding-top: 0;

      .purchaseFormItemTaxCurrency {
        margin-bottom: 0;
        min-height: 100%;
        max-width: 70px;
      }

      .purchaseFormItem {
        margin-bottom: 0;
        min-height: 100%;
      }
    }

    .variantGridButtonBlock {
      display: flex;
      gap: 10px;
      margin-top: 23px;
    }
  }

  .formItemsValid {
    input,
    button {
      border: 1px solid #007aff;
      border-radius: 6px;
    }
  }

  .buttonValid {
    background: #007aff;
    color: #fff;
  }
}
