@use "@/styles/variables" as vars;

.addVariantCard {
  .addVariantCardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .addVariantCardFormItem {
      .select {
        box-shadow: none;
      }

      .warningColorSelect {
        box-shadow: none;

        button {
          border-color: #DC8A26;
        }
      }
    }

    .warningText {
      padding-bottom: 20px;
      color: #DC8A26;
    }
  }
}