@use "@/styles/variables" as vars;

.createProductBrandCard {
  display: flex;

  .cardContent {
    display: flex;
    flex-direction: column;
    padding: vars.$paddingSmall;
    gap: vars.$paddingStandard;

    .imageUploaderLabel {
      padding-bottom: 5px;
    }
  }
}