@use "@/styles/variables" as vars;

.SheNavbar {
  display: flex;
  border-bottom: vars.$brdLight;
  align-items: center;
  gap: 10px;
  padding: 10px;

  .SidebarTrigger {
    min-width: 15px;
    min-height: 15px;
  }

  .SearchWrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .SearchIcon {
      position: absolute;
      left: 5px;
      top: 2px;
      color: #71717a;
    }

    .SearchInput {
      width: 200px;
      height: 100%;
      background-color: vars.$colorMuted;
      padding: 2px 3px 2px 35px;

      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  .BellIcon {
    color: #71717a;
    cursor: pointer;
    min-width: 30px;
    max-width: 30px;
  }

  .UserAvatar {
    width: 30px;
    height: 30px;
    border-radius: vars.$paddingSmall;
    cursor: pointer;
  }
}
