@use "@/styles/variables" as vars;

.variantConfigurationCard {
  .variantConfigurationCardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      width: 6px;
      height: 10px;
      background: white;
    }

    .variantConfigurationForm {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .variantCodeFormRow {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: end;
        padding: 20px 0;

        & > div {
          width: 100%;
        }
      }

      .priceFormRow {
        display: flex;
        gap: 10px;

        .priceFormRowItem {
          width: 33%;
        }
      }
    }

    .salePriceBlock {
      display: flex;
      flex-direction: column;

      .salePriceBlockTitle {
        padding-bottom: 10px;
      }

      .salePriceBlockInput {
        display: flex;
        gap: 20px;

        label {
          font-size: 14px;
        }
      }
    }

    .stockDetailsBlock {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .buttonBlock {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          padding: 8px 8px;
        }
      }

      .stockDetailsTitle {
        text-wrap: auto;
      }

      .stockBlock {
        border: 1px solid #e5e5e5;
        border-radius: 5px;

        .stockBlockRow {
          display: flex;
          justify-content: space-between;
          padding: 10px;

          &:not(:last-child) {
            border-bottom: 1px solid #e5e5e5;
          }

          .stockBlockRowNumber {
            padding-right: 20px;
          }
        }
      }
    }

    .variantGridBlock {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .variantGridBlockHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

//-------------------------------------------------------Expandable Row

.variantConfigurationCard {
  .expandableRow {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

    .expandableRowIcon {
      svg {
        stroke: none;
      }
    }

    .expandableRowText {
      color: #ef4343;
      font-weight: 500;
    }
  }
}
