@use "@/styles/variables" as vars;

.variantConfigurationCard {
  overflow: auto;

  .variantConfigurationCardContent {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    gap: 20px;
    overflow-y: auto;

    .variantConfigurationForm {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .variantCodeFormRow {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: end;
        padding: 20px 0;

        & > div {
          width: 100%;
        }
      }

      .priceFormRow {
        display: flex;
        gap: 10px;

        .priceFormRowItem {
          width: 33%;
        }
      }
    }

    .salePriceBlock {
      display: flex;
      flex-direction: column;

      .salePriceBlockTitle {
        padding-bottom: 10px;
      }

      .salePriceBlockInput {
        display: flex;
        gap: 20px;

        label {
          font-size: 14px;
        }
      }
    }

    .stockDetailsBlock {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .buttonBlock {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .stockBlock {
        .stockBlockRow {
          display: flex;
          justify-content: space-between;

          .stockBlockRowNumber {
            padding-right: 20px;
          }
        }
      }
    }

    .variantGridBlock {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .variantGridBlockHeader {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}