@use "@/styles/variables" as vars;

#ApplicationNameWrapper {
  min-height: 100vh;
}

/*// ========================================================================== CUSTOM*/

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;

  * {
    outline: none;
    box-sizing: border-box;
  }
}

/*// -------------------------------------------------------------------------- TEXT*/

.she-text {
  color: vars.$textColor;
  line-height: normal;
  font-size: vars.$fontSizeText;
  font-weight: 400;
  letter-spacing: normal;
}

.she-title {
  @extend .she-text;
  color: vars.$titleColor;
  font-size: vars.$fontSizeTitle;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.she-subtext {
  @extend .she-text;
  color: vars.$subtextColor;
  font-size: vars.$fontSizeSubtext;
}

.she-text-link {
  @extend .she-text;
  color: vars.$textLinkColor;
  text-decoration: underline;
  cursor: pointer;
}

/*// -------------------------------------------------------------------------- TOTAL*/

.hide {
  display: none !important;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.6 !important;

  * {
    pointer-events: none !important;
  }
}

.no-clickable {
  pointer-events: none !important;
}

/*// -------------------------------------------------------------------------- SCROLL*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar:hover {
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
}

.buttonTest {
  color: red !important;
}
