@use "@/styles/variables" as vars;

.sheContextSidebar {
  display: flex;
  flex-grow: 1;
  gap: 6px;
  background-color: vars.$secondaryBg;
  min-height: calc(100vh - 52px);
  width: 100%;

  .sheContextSidebarMenuAndListContainer {
    display: flex;
    gap: 6px;
    padding: vars.$paddingSmall 0 vars.$paddingSmall vars.$paddingSmall;

    .sheContextSidebarList {
    }

    .sheContextSidebarMenu {
    }
  }

  .sheContextSidebarContextContainer {
    display: flex;
    flex-grow: 1;
    width: 100px;
    gap: vars.$paddingSmall;
    padding-top: 10px;
    margin-right: 10px;
    overflow-x: hidden;

    .carouselContainer {
      width: 100px;
      flex-grow: 1;

      .carouselContent {
        &:active {
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
        }
      }
    }
  }
}

// ================================================== NO SIDEBAR

.sheContextSidebar {
  &.sheContextSidebarNoSideBar {
    padding-left: vars.$paddingSmall;
  }
}

// ================================================== MOBILE

.sheContextSidebar {
  &.isMobile {
    display: flex;
    flex-direction: column;

    .sheContextSidebarMenuAndListContainer {
      gap: 0;
      padding: 0;

      .sheContextSidebarMenu {
        width: 100%;
        flex-grow: 1;
      }
    }

    .sheContextSidebarContextContainer {
      overflow-x: auto;
      margin: 3px 6px 6px 7px;
      padding: 0 14px 0 0;
      width: 100%;
      flex-grow: 1;
    }
  }
}
