@use "@/styles/variables" as vars;

.sheContextSidebar {
  display: flex;
  flex-grow: 1;
  padding: vars.$paddingSmall;
  background-color: vars.$secondaryBg;
  min-height: calc(100vh - 52px);
  width: 100%;

  .sheContextSidebarMenuAndListContainer {
    display: flex;
    gap: 6px;

    .sheContextSidebarList {
    }

    .sheContextSidebarMenu {
    }
  }

  .sheContextSidebarContextContainer {
    padding: 0 6px;
    width: 100%;
    flex-grow: 1;
    gap: vars.$paddingSmall;
    display: flex;
    overflow-x: auto;
  }
}
