@use "@/styles/variables" as vars;

.sheContextSidebar {
  display: flex;
  padding: vars.$paddingSmall;
  background-color: vars.$secondaryBg;
  min-height: calc(100vh - 52px);

  .sheContextSidebarMenuAndListContainer {
    display: flex;
    gap: 6px;

    .sheContextSidebarList {
      //border: 1px solid;
    }

    .sheContextSidebarMenu {
      //border: 1px solid;
    }
  }

  .sheContextSidebarContextContainer {
    padding: 0 vars.$paddingSmall;
  }
}
