@use "@/styles/variables" as vars;

//----------------------------------------------------------------HEADER

.CustomersPage {
  .pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vars.$paddingSmall;
    gap: vars.$paddingStandard;
  }
}

// ------------------------------------------------------------------- CONTEXT

.CustomersPage {
  .customersPageContent {
    padding: 0 vars.$paddingSmall vars.$paddingSmall;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 178px);
  }
}
