@use "@/styles/variables" as vars;

$iconSize: 20px;
$clearBtnSize: 30px;

.sheTextArea {
  max-width: vars.$maxWidth;
  width: 100%;

  .sheTextAreaComponent {
    position: relative;

    > label {
      font-weight: 500;
      position: relative;
      top: -6px;
      font-size: 14px;
    }

    .sheTextAreaControl {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      .iconBlock {
        position: absolute;
        color: vars.$subtextColor;
        left: 8px;
        top: 8px;
        max-width: $iconSize;
        min-width: $iconSize;
        max-height: $iconSize;
        min-height: $iconSize;
      }

      > textarea {
        resize: none;

        &:focus-visible {
          box-shadow: 0 0 0 1px lightgray inset;
        }

        &::placeholder {
          color: vars.$placeholderColor;
        }
      }

      [class*="sheButton"] {
        display: flex;
        align-self: start;
        border-radius: 100%;
        max-width: $clearBtnSize;
        min-width: $clearBtnSize;
        max-height: $clearBtnSize;
        min-height: $clearBtnSize;
      }
    }
  }
}

// ======================================================== FULL WIDTH

.sheTextArea.fullWidth {
  max-width: none;
  width: 100%;
}

// ======================================================== REQUIRED

.sheTextArea.required {
  position: relative;

  .sheTextAreaComponent:before {
    position: absolute;
    left: -10px;
    top: -14px;
    color: vars.$colorRed;
    content: "*";
    display: inline;
  }
}

// ======================================================== WITH ICON

.sheTextArea.withIcon {
  .sheTextAreaComponent {
    .sheTextAreaControl {
      > textarea {
        padding-left: 36px;
      }
    }
  }
}

// ======================================================== RESIZE

.sheTextArea.resize {
  .sheTextAreaComponent {
    .sheTextAreaControl {
      > textarea {
        resize: vertical;
      }
    }
  }
}
