@use "@/styles/variables" as vars;

.sheTextArea {
  max-width: vars.$maxWidth + px;
  width: 100%;

  textarea {
    resize: none;
    min-height: 20px;
    transition: all 160ms ease-in-out;

    &:focus-visible {
      box-shadow: 0 0 0 1px lightgray inset;
    }

    &::placeholder {
      color: vars.$placeholderColor;
    }
  }
}

// ======================================================== RESIZE

.sheTextArea.resize {
  textarea {
    resize: vertical;
  }
}

// ======================================================== ICON

.sheTextArea.sheTextAreaViewNormal {
  .sheTextAreaIcon,
  .sheTextAreaClearButton {
    top: 9px !important;
  }
}

// ======================================================== VIEW

.sheTextArea.sheTextAreaViewCard {
  .sheTextAreaIcon {
    top: 0;
  }

  .sheTextAreaClearButton {
    align-self: flex-start;
    position: relative;
    top: -1px;
  }
}

// ======================================================== INVALID

.sheTextArea.invalid {
  textarea {
    border: 1px solid vars.$colorRed;
  }
}

// ======================================================== HIGHLIGHT

.sheTextArea.highlighted {
  textarea {
    border-color: vars.$colorBlue !important;
  }
}
