@use "@/styles/variables" as vars;

.selectEntityCard {
  .selectEntityCardContent {
    display: flex;
    flex-direction: column;
    gap: vars.$paddingStandard;

    .selectEntityCardBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: vars.$paddingStandard;

      .createEntityBlockText {
        text-wrap: auto;
      }
    }

    .entityListBlock {
      display: flex;
      flex-direction: column;
      gap: vars.$paddingStandard;
    }
  }
}
