.variantNameCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .productNameImageBlock {
    .productNameImage {
      object-fit: cover;
      border-radius: 5px;
      min-width: 30px;
      max-width: 30px;
    }
  }

  .variantName {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.traitOptionsCell {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;

  .colorOptions {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
}

.orderLink {
  font-weight: 700;
}

.inputBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  .quantityNumber {
    position: absolute;
    //top: 11px;
    left: 50px;
    display: flex;
    width: 65px;
    z-index: 1;

    span {
      width: 100%;
      text-align: end;
    }
  }

  .quantityInput {
    input {
      padding-left: 52%;
    }
  }
}