.productName {
  max-width: 100%;
}

.productCode {
  max-width: 100%;
}

.noImageIcon {
  padding: 5px 0 0 10px;
}

.productCategory, .productBrand {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 30px;
    height: 30px;
  }

  span {
    max-width: 100%;
  }
}

span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}